# Untracked files:
environment/

# archivos del curso profesional de backend
cf_profesional/async/node_modules
cf_backend/node_modules
cf_backend/db/cf_backend

# archivos del curso de servicios web rest con nodejs
node_services/.idea
node_services/node_modules
node_services/config/secrets.js

# archivos del curso de typescript
typescript/.idea

# archivos del curso profesional de vue
cf_vue/.idea
cf_vue/app/node_modules

# archivos del taller para consumir un api con vue
vue_rest/.idea
vue_rest/node_modules

# archivos del taller vue con firebase
vue_firebase/.idea
vue_firebase/node_modules

# archivos del taller spa con nuxt
nuxt_spa/.idea
nuxt_spa/.nuxt
nuxt_spa/node_modules

# archivos del curso de introduccion a Vue 3
pz_vuecommerce/.idea

# archivos del curso basico de Vue 2
pz_basicsvue/.idea
pz_basicsvue/exchange/.idea
pz_basicsvue/exchange/node_modules

# archivos del curso de npm
pz_npm/.idea
pz_npm/node_modules

# archivos del curso de webpack
pz_webpack/.idea
pz_webpack/node_modules
pz_webpack/.env
pz_webpackreact/node_modules

# archivos del curso profesional de javascript
pz_profesionaljs/.idea
pz_profesionaljs/node_modules
pz_profesionaljs/assets/BigBuckBunny.mp4
pz_profesionaljs/.cache
pz_profesionaljs/dist

# archivos del curso profesional de vue
pz_profesionalvue/musicapp/.idea
pz_profesionalvue/musicapp/node_modules

# archivos del curso de testing con vue
pz_testingvue/node_modules

# archivos del curso avanzado de vue
pz_vuediablo/node_modules
pz_vuerooms/node_modules
pz_renderfunctions/node_modules