doctype html
html
    head
        title Editar Categoria
    body
        form(action=`/categories/${category.id}?_method=PUT` method="POST")
            input(type="text" name="title" placeholder="Nombre de la Categoria" value=category.title)
            input(type="color" name="color" value=category.color)
            input(type="submit" value="Guardar Cambios")