<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Binding</title>
</head>
<body>
    <div id="app">
        <!-- Binding -->
        <h1>{{ message }}</h1>
        <input type="text" v-model="message">

        <!-- Directivas -->
        <span :title="message">Hover me!!</span>

        <!-- v-for & listas -->
        <ul>
            <li v-for="language in languages">{{ language }}</li>
        </ul>

        <ul>
            <li v-for="(value, key, index) in course">{{ value }} {{ key }} {{ index }}</li>
        </ul>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var vm = new Vue({
            el: "#app",

            data: {
                message: "Two Way Binding!!",
                languages: ["PHP", "JavaScript", "Python", "Ruby", "Java"],
                course: {
                    name: "Curso Profesional de Vue",
                    language: "Javascript",
                    tool: "TypeScript"
                }
            },
            /**
             *  Ciclo de vida del componente
             */

            beforeCreated: function() {
                console.log("Before Created!!");
            },

            created: function() {
                console.log("Created");
            },

            mounted: function() {
                console.log("Mounted");
            },

            updated: function() {
                console.log("Updated");
            },

            destroyed: function() {
                console.log("Destroyed");
            }
        });
    </script>
</body>
</html>