doctype html
html
    head
        title Tareas
    body
        form(action=`/tasks/${task.id}?_method=PUT` method="POST")
            input(type="text" name="categories" placeholder="ID de categorias separado por comas")
            textarea(name="description" placeholder="Coloca aquí la tarea a realizar")= task.description
            input(type="submit" value="Guardar Cambios")